/* stock_manager.css */
/*

body {
	margin-left: 40px;
	margin-right: 40px;
}
div#sales {
	background-color: #d9d9d9;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	border: 1px solid #d9d9d9;
}
div.saleItem {
	font-family: Verdana, Helvetica, sans-serif;
	color: #434343;
	padding: 10px;
}
div.saleItem:nth-child(2n) {
	background-color: #fafafa;
}
div.saleItem:first-child {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
div.saleItem:last-child {
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
*/

body {
	background: #f3f2f3;
	color: #000000;
	font-family: Trebuchet MS, Arial, Times New Roman;
	font-size: 12px;
}
div {
	outline: 1px solid black;
}
#container {
	background: #FFFFFF;
	margin: 15px auto;
	width: 900px;
	height: 600px;
	outline: ridge medium;
}
#header {
	background: #838283;
	width: 900px;
	height: 50px;
}
#add_item {
	/*visibility: hidden;*/

	background: #ffa500;
	width: 900px;
	height: 30px;
}
#container_for_table {
	background: #ffff00;
	float: left;
	width: 800px;
	height: 520px;
}
#table_with_items {
	margin: 5px auto;
	/*table-layout: fixed;*/
}
th,td {
	border: 1px solid black; /* Параметры рамки */
	padding: 4px; /* Поля вокруг текста */
}
#buttons {
	background: #ffa500;
	float: right;
	width: 100px;
	height: 520px;
}