* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
    background: lightskyblue;
}

.welcomeText {
    text-align: center; font-size: 22px;
    color:  coral; margin-top: 24px;
}
.welcomeBlock {
    text-align: center; font-size: 12px;
    color: #666; margin-top: 24px;
}

table tr {
    text-align: center; font-size: 12px;
    color: #555; margin-top: 24px;
}

td {
    border: solid; border-width: 1px; border-color: brown; 
    text-align: center; font-size: 12px;
    color: #666; margin-top: 24px;
}

.input {
    border: none;
    background: lightgray; 
    text-align: center; font-size: 14px;
}

select {
    width: 80px;
}