* {
    font-family: Lucida Sans;
    background: lightgrey;
}

hr {
    border: solid; border-width: 1px; border-color: brown; 
    width: 80%
}

.teacherMessageBlock {
    text-align: center; font-size: 12px;
    color: #888; margin-top: 24px;
}

.myMessageBlock {
    text-align: center; font-size: 16px;
    color: #222; margin-top: 24px;
}