* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
    background: lightgray;
}

.titleTextBlock {
    text-align: center; font-size: 22px;
    color:  coral; margin-top: 24px;
}
.textBlock {
    text-align: center; font-size: 12px;
    color: #666; margin-top: 24px;
}

.resultTextTrue {
    text-align: center; font-size: 16px;
    color: green; margin-top: 24px;
}

.resultTextFalse {
    text-align: center; font-size: 16px;
    color: crimson; margin-top: 24px;
}

.titleTable {
    text-align: center; font-size: 16px;
    color:  darkred; margin-top: 24px;
}

table {
    position: relative;
    border: solid; border-width: 2px; border-color: lightslategray; 
    float: left;
    margin: 50px;
    width: 30%;
    color: #555; 
}

tr td {
    border: solid; border-width: 1px; border-color: lightslategray; 
    text-align: center; font-size: 16px;
    vertical-align: central;
    color: green; margin-top: 24px;
}