body {
    padding-top: 50px;
    background: url('/img/back.png') repeat repeat;
    background-size: 500px 141px;
    display: block;
    padding: 0 !important;
    margin: 0;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.error {
    color: red;
}
