body {
    padding-top: 50px;
    background: url('/jpg/backgr-stack-bw.jpg') no-repeat;
    background-size: 100%;
    display: block;
    padding: 0 !important;
    margin: 0;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.error {
    color: red;
}
